@model AppUserListViewModel
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form class="w-75 mx-auto p-3">
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
        <input asp-for="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Surname"></label>
        <span asp-validation-for="@Model.Surname" class="text-danger"></span>
        <input asp-for="@Model.Surname" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Email"></label>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
        <input asp-for="@Model.Email" class="form-control" />
    </div>
     <div class="form-group">
         <div class="row">
             <div class="col-md-4">
                 <h4 class="text-center">Şuanki Resminiz</h4>
                 <div class="col-md-8">
                     <h4 class="text-center">Seçtiğiniz Resim</h4>
                 </div>
                 <div class="col-md-12">
                     <label>Resim Seç:</label>
                     <input type="file" class="form-control-file" name="Resim"/>
                 </div>
             </div>
         </div>
         <button type="submit" class="btn btn-sm btn-info"><i class="fa fa-check"></i>Kaydet</button>
     </div>
</form>
 