@model JobWithIDViewModel

@{
    ViewData["Title"] = "AssignStaff";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string s = (string)ViewBag.Aranan;
}

<div class="row mt-5">
    <div class="col-md-12 my-2">
        <form method="post" class="my-1 text-right" >
            <input type="text" ad="s" value="" class="form-control-sm border border-primary border-top-0 border-right-0 border-left-0" />
            <input type="submit" class="btn btn-primary" value="Ara" />
        </form>
        @if (!string.IsNullOrEmpty(s))
        {
            <div class="border border-dark">
                <strong>@s</strong>
                <a class="alert-link " asp-action="AssignStaff" asp-route-id="@Model.Id">Filtreyi Kaldır</a>
            </div>
        }

    </div>
    

    <div class="col-md-4">
        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-header">
                <h4> @Model.ad </h4>
            </div>
            <div class="card-body">

                <p class="card-text">@Model.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@Model.Urgency.Description</li>
                <li class="list-group-item">@Model.CreatedAt.ToString("D")</li>

            </ul>
        </div>
    </div>
    <div class="col-md-8">
        @foreach (var item in (List<AppUserListViewModel>)ViewBag.Personeller)
        {
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/@item.Picture" class="card-img img-fluid" style="height:10rem;" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.ad @item.Surad</h5>
                            <p class="card-text"><getJobWithAppUserById app-user-id="@item.Id"></getJobWithAppUserById></p>
                            <p class="card-text"><small class="text-muted">@item.Email</small>
                            <a asp-action="AssignJob" asp-route-AppUserId="@item.Id" asp-route-JobId="@Model.Id" class="btn btn-primary float-right">Görevlendir</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        }
        <nav aria-label="Page navigation example mx-auto">
            <ul class="pagination">
                @if (!string.IsNullOrEmpty(s))
                {
                    for (int i = 1; i <= ViewBag.totalPage; i++)
                    {
                        <li class="page-item" @(ViewBag.Aktifpage == i ? "active" : "")><a class="page-link" asp-action="AssignStaff" asp-route-id="@Model.Id" asp-route-page="@i" asp-route-s="@s">@i</a></li>
                    }
                }
                else
                {
                    for (int i = 1; i <= ViewBag.totalPage; i++)
                    {
                        <li class="page-item" @(ViewBag.Aktifpage == i ? "active" : "")><a class="page-link" asp-action="AssignStaff" asp-route-id="@Model.Id" asp-route-page="@i">@i</a></li>
                    }
                }


            </ul>
        </nav>
    </div>
</div>

